@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --green: #92a134;
    --background: #fffff1;
    --sale: #f26d22;
    --white: #fff;
    --black: #424436;
    --grey-divider: #ddd;
    --grey: #8b8b8b;
    --light-grey: #f2f6d3;
    --txt-white: #fff;
    --txt-black: #282828;
    --txt-grey: #8b8b8b;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: montserrat;
}

.main-container{
    transition: all .4s ease-in-out;
}

.main{
    background-color: var(--background);
    padding-bottom: 80px;
}






